{% extends 'base.html' %}

{% block content %}
<div style="display:flex; flex-direction: row; justify-items: flex-start;">

    <div class="data_table">
        <th>
            <h2 class="heading" style="position:sticky">
                Measurements
            </h2>
        </th>
        {% for ms in data %}
        <td>
            <div class="block">
                <div
                    style="display:flex; flex-direction: row; justify-content: space-between; margin-bottom: -20px; margin-top: -20px;">
                    <p>Sensor {{ ms[2] }}</p>
                    <p>Direction: {{ ms[3] }}</p>
                </div>
                <ul class="options">
                    <li>ID: {{ ms[0] }}</li>
                    <li>{{ ms[1] }}</li>
                </ul>
            </div>
        </td>
        {% endfor %}
    </div>

    <div class="table">
        <th>
            <h2 class="heading" style="position:sticky">
                Cleaning Tickets
            </h2>
        </th>
        {% for ticket in tickets %}
        <td>
            <div class="block">
                <div
                    style="display:flex; flex-direction: row; justify-content: space-between; margin-bottom: -20px; margin-top: -20px;">
                    <p>{{ ticket['room'] }}</p>
                    <p>{{ ticket['occupancy'] }}/<sub>ppl</sub></p>
                </div>
                <ul class="options">
                    <li>{{ ticket['_id'] }}</li>
                    <li>{{ ticket['timestamp'] }}</li>
                </ul>
            </div>
        </td>
        {% endfor %}
    </div>
</div>

{% endblock %}